body{
    margin: 0;
    overflow-x: hidden;
}
.container{ 
  width:100vw;
  height:100vh;
  font-family: 'Gugi', sans-serif;
  z-index:0;/*Put it in background*/
}
.btns{
  z-index:1; /*it hovers the container so it doesn't disturb it*/
  width:960px;
  margin:0 auto;
  padding-top:300px;
  text-align: center;
}
.mainTitle{
  color:#F7F1E3;
  margin:0;
}
a.play{
  text-decoration: none;
  color:#F7F1E3;
  font-size:16px;
  
}
div.sound{ /*the div that contains the sound <i> buttons*/
  padding:30px 0px 0px 30px;
}
.fas{
  color:#F7F1E3;
}
i.fa-volume-mute{/*mute button is hidden*/
  display:none;
}
i.fa-volume-up{ /*Volume up button is shown*/
  display:block;
}
.fas:hover{ /*hover for the sound button*/
  cursor: pointer;
}
/*ARROW SECTION*/
.arrow-container {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg);
}
.arrow-container:hover {
  cursor: pointer;
}
.arrow-container:hover .arrow {
  top: 50%;
}
.arrow-container:hover .arrow:before {
  transform: translate(-50%, -50%) rotateZ(-30deg);
}
.arrow-container:hover .arrow:after {
  transform: translate(-50%, -50%) rotateZ(30deg);
}
.arrow {
  position: absolute;
  left: 50%;
  transition: all 0.4s ease;
}
.arrow:before, .arrow:after {
  transition: all 0.4s ease;
  content: "";
  display: block;
  position: absolute;
  transform-origin: bottom right;
  background: #F7F1E3;
  width: 3px;
  height: 30px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
.arrow:after {
  transform-origin: bottom left;
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.arrow:nth-child(1) {
  opacity: 0.3;
  top: 35%;
}
.arrow:nth-child(2) {
  opacity: 0.6;
  top: 55%;
}
.arrow:nth-child(3) {
  opacity: 0.9;
  top: 75%;
}
/*END OF ARROW SECTION*/
